body {
    font-size: 1.7em;
    line-height: 1.8;
}

.hi {
    text-align: center;
    margin: 5rem 0;
}

.name {
    margin: 2rem;
}

.romaji, .kanji {
    display: block;
    text-align: center;
    font-size: 2rem;
}

.social {
    text-align: center;
}

.social__logo {
    display: block;
    font-size: 5rem;
}

.social__link {
    text-decoration: none;
}

.social__comment {
    display: block;
    font-size: 1rem;
    color: #555;
}

.keybase {
    display: block;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 1em;
    overflow: auto;
}
