{% extends 'master.html' %}

{% block styles %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h1 class="hi">Hi</h1>
                <p>
                    I'm Retzudo of the Internet. This is retzudo.com.
                </p>
            </div>
        </div>
        <h4>The name</h4>

        <div class="row">
            <div class="two columns">
                <div class="name">
                    <span class="romaji">Retzudo</span>
                    <span class="kanji">
                        <ruby>
                            烈 <rp>(</rp><rt>れつ</rt><rp>)</rp>
                            堂 <rp>(</rp><rt>どう</rt><rp>)</rp>
                        </ruby>
                    </span>
                </div>
            </div>

            <div class="ten columns">
                <p>
                    My nickname was inspired by the evil guy 柳生 烈堂 (Yagyū Retsudō) from <a href="https://en.wikipedia.org/wiki/Lone_Wolf_and_Cub">Lone Wolf and Cub</a>.
                    I didn't watch the show much but I liked the name. I have no idea what it might translate to but <a href="http://jisho.org">Jisho.org</a> tells me that
                    <a href="http://jisho.org/search/%E7%83%88%20%23kanji">烈</a> is an adjective meaning "ardent, violent, vehement, furious, severe, extreme" while
                    <a href="http://jisho.org/search/%E5%A0%82%20%23kanji">堂</a> means "public chamber" or "hall". I have no idea what to make of that. Violent hall? Extreme chamber?
                        Maybe a place where people are punished? No idea (tweet me <a href="https://twitter.com/Retzudo">@Retzudo</a> if you <em>have</em> an idea).
                    </p>
            </div>
        </div>

        <h4>Where to find me</h4>
        <div class="row">
            <div class="twelve columns">
                <p>
                    I'm on the internet! In lots of places! I do stuff!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="three columns social">
                <a href="https://github.com/Retzudo" class="social__link">
                    <i class="fa fa-github social__logo"></i>
                    <span class="username">Retzudo</span>
                </a>
                <span class="social__comment">(Lots of code)</span>
            </div>
            <div class="three columns social">
                <a href="http://codepen.io/Retzudo/pens/public/" class="social__link">
                    <i class="fa fa-codepen social__logo"></i>
                    <span class="username">Retzudo</span>
                </a>
                <span class="social__comment">(My sandbox)</span>
            </div>
            <div class="three columns social">
                <a href="https://twitter.com/Retzudo" class="social__link">
                    <i class="fa fa-twitter social__logo"></i>
                    <span class="username">@Retzudo</span>
                </a>
                <span class="social__comment">(I don't actively tweet)</span>
            </div>
            <div class="three columns social">
                <a href="https://youtube.com/user/retzudo000" class="social__link">
                    <i class="fa fa-youtube social__logo"></i>
                    <span class="username">retzudo000</span>
                </a>
                <span class="social__comment">(I don't make videos)</span>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <h4>Link list</h4>
                <p>
                    Stuff I made and find useful.
                </p>
                <ul>
                    <li><a href="https://gifs.retzudo.com">http://gifs.retzudo.com</a> &ndash; Reaction gifs useful for developers</li>
                    <li><a href="https://weather.retzudo.com">http://weather.retzudo.com</a> &ndash; Current weather (where I am)</li>
                    <li><a href="https://soapstone.retzudo.com">http://soapstone.retzudo.com</a> &ndash; Create Dark Souls-esque messages</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}
