<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {%- block styles -%}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {%- block content -%}{%- endblock -%}
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    {%- block javascripts -%}{% endblock %}
</body>
</html>
